{include file="../application/admin/view/Public/_meta.html"/}


<!-- </head>
<body>
<article class="page-container">
	<form method="post" class="form form-horizontal" id="form-change-password">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户：</label>
			<div class="formControls col-xs-8 col-sm-9"> {$adminInfo.username} </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="newpassword" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="newpassword2" id="new-password2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article> -->


<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>账户：</label>
                    <div class="layui-input-inline">
                        <input type="text" required="" autocomplete="off" class="layui-input" disabled="disabled" value="{$adminInfo.username}"></div>
                    <!-- <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>将会成为您唯一的登入名
                    </div> -->
                </div>
                <div class="layui-form-item">
                    <label for="newpassword" class="layui-form-label">
                        <span class="x-red">*</span>密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="newpassword" name="pass" required="" lay-verify="pass" autocomplete="off" class="layui-input"></div>
                    <div class="layui-form-mid layui-word-aux">6到16个字符</div></div>
                <div class="layui-form-item">
                    <label for="new-password2" class="layui-form-label">
                        <span class="x-red">*</span>确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="new-password2" name="repass" required="" lay-verify="repass" autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">确定</button></div>
            </form>
        </div>
    </div>
{include file="../application/admin/view/Public/_footer.html"/}
<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">

layui.use(['form', 'layer','jquery'],
function() {
    $ = layui.jquery;
    var form = layui.form,
    layer = layui.layer;

    //自定义验证规则
    form.verify({
        
        pass: [/(.+){6,12}$/, '密码必须6到12位'],
        repass: function(value) {
            if ($('#newpassword').val() != $('#new-password2').val()) {
                return '两次密码不一致';
            }
        }
    });

    //监听提交
    form.on('submit(add)',
	    function(data) {
	    	//发异步，把数据提交给php
	    	var index = layer.load(1, {time: 10*1000}); //0代表加载的风格，支持0-2
			$.ajax({
				type:"POST",
				dataType:"json",
				url:"{:url('Admin/index/change_password')}",
				data:{newpassword:data.field.pass,password:data.field.repass},
				success:function(data){
				  if (data.code == 1) {
					layer.alert("修改成功", {
					    icon: 6
					},
					function() {
					    //关闭当前frame
					    xadmin.close();

					    // 可以对父窗口进行刷新 
					    xadmin.father_reload();
					});
					return false;
				  }else{
					layer.msg(res.msg,{icon:2,time:1000});
				  	return;
				  }
				}
			});

	    });

	});




</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>