{include file="../application/admin/view/Public/_meta.html"/}
 <body>
<div class="layui-card-header">
    <button class="layui-btn" onclick="xadmin.open('新增岗位信息','__URL__/recruit_job_add.html?id={$id}')"><i class="layui-icon"></i>新增岗位信息</button>
</div>
<div class="layui-card-body layui-table-body layui-table-main" >
	<table class="layui-table layui-form">
	    <thead>
	      <tr>
	        <th>岗位名称</th>
	        <th>所属单位</th>
	        <th>需求人数</th>
	        <th>岗位职责</th>

	        <th>专业限制</th>
	        <th>党员要求</th>
	        <th>退伍军人要求</th>

	        <th>学历要求</th>
	        <th>全日制要求</th>
	        <th>年龄要求</th>
	        <th>工作经验要求</th>

	        <th>其他</th>

	        <th>操作</th></tr>
	    </thead>
	    <tbody>
	    	{volist name="recruit_job_list" id="vo"}
			<tr>
				<td>{$vo.name}</td>
				<td>{$vo.company}</td>
				<td>{$vo.num}</td>
				<td>{$vo.responsibilities}</td>
				<td>{$vo.major}</td>
				<td>{switch name="$vo.dangyuan" }
					    {case value="1"}是{/case}
					    {case value="0"}否{/case}
					{/switch}</td>
				<td>{switch name="$vo.junren" }
					    {case value="1"}是{/case}
					    {case value="0"}否{/case}
					{/switch}</td>
				<td>{switch name="$vo.education" }
					    {case value="1"}不限学历{/case}
					    {case value="2"}高中及以上{/case}
					    {case value="3"}专科及以上{/case}
					    {case value="4"}本科及以上{/case}
					    {case value="5"}硕士及以上{/case}
					{/switch}</td>
				<td>{switch name="$vo.quanrizhi" }
					    {case value="1"}是{/case}
					    {case value="0"}否{/case}
					{/switch}</td>
				<td>{$vo.age_min}至{$vo.age_max}</td>
				<td>{$vo.work_experience}</td>
				<td>{$vo.other}</td>
				<td class="td-manage">
				  <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
				    <i class="layui-icon">&#xe601;</i>
				  </a>
				  <a title="编辑"  onclick="xadmin.open('编辑','member-edit.html',600,400)" href="javascript:;">
				    <i class="layui-icon">&#xe642;</i>
				  </a>
				  <a onclick="xadmin.open('修改密码','member-password.html',600,400)" title="修改密码" href="javascript:;">
				    <i class="layui-icon">&#xe631;</i>
				  </a>
				  <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
				    <i class="layui-icon">&#xe640;</i>
				  </a>
				</td>
			</tr>
			{/volist}
	    </tbody>
	</table>
</div>
{include file="../application/admin/view/Public/_footer.html"/}<!-- 配置文件 -->
	    



</html>